/*Universal Selectors****************/
body {
  -webkit-font-smoothing: antialiased;
}

a {
  font-family: 'Comfortaa', cursive;
}

h3 {
  font-family: 'Comfortaa', cursive;
}

/*Class Selectors********************/
.brand-logo {
  font-family: 'Comfortaa', cursive;
  margin-left: 25px;
}

.card-title {
  font-family: 'Comfortaa', cursive;
}

.parallax-container {
  height: 400px;
}

.jumbo-text {
  color: white;
  text-align: center;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Comfortaa', cursive;
}

.scrollspy {
  height: 200px;
}

.bottom {
  height: 800px;
}

.one img {
  width: 100vw;
}

.two img {
  width: 100vw;
  overflow: auto;
}

.section {
  height: 500px;
  /*overflow: auto;*/
}

.icons {
  display: block;
  margin: auto;
  padding-top: 40px;
}

.card {
  background-color: #ee6e73 !important;
  text-align: center;
}

.l7 {
  text-align: right;
}

.l7 p {
  padding-left: 150px;
}

.l7 h3 {
  color: #ee6e73;
}


/*Id Selectors***********************/
 #rover, #scope h4 {
  margin-top: 30px;
 }

 #tent {
   text-align: left;
 }

 #tent p {
   padding-left: 0;
   padding-right: 150px;
 }


/*Media Queries**********************/
@media only screen and (max-width: 562px) {
  .section {
    height: 1070px;
  }
}

/*@media only screen and (max-width: 666px) and (min-width: 563px){
  .section {
    height: 600px;
  }
}*/
